* {
    --color-main-gradient: linear-gradient(90deg,#ff6723 50%, #996046 100%);
    --color-black: #181818;
    --color-gray-text: #D1D1D1;
    --color-offwhite: #F5F5F7;
    --color-main-orange: #FF6723;

    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-regular-medium: 450;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
}
body {
    background-color: var(--color-offwhite);
}

@font-face {
    font-family: 'Integral CF';
    src: url(./Fonts/Fontspring-DEMO-integralcf-bold.otf);
}

h1 {
    /* Big title - Normal */
    font-weight: var(--fw-regular-medium);
    font-size: 3.5rem;
    /* font-size: 64pt; */
}
h2 {
    /* Special title */
    font-family: 'Integral CF';
    font-size: 3.5rem;
    /* font-size: 32pt; */
}
h3 {
    /* Subtitle */
    font-weight: var(--fw-regular);
    /* font-size: 2rem; */
    font-size: 32pt;
}
h4 {
    /* Special title */
    font-family: 'Integral CF';
    font-size: 0.8888888889rem;
    /* font-size: 32pt; */
}
p {
    /* Paragraph */
    font-weight: var(--fw-medium);
    /* font-size: 1rem; */
    font-size: 18pt
}

a {
    text-decoration: none;
    color: inherit;
}

.smal-font {
    font-weight: 350;
    font-size: 0.8888888889rem;
    letter-spacing: 0.5px;
    line-height: 1.1;
    /* font-size: 16pt */
}
a:hover {
    color: var(--color-offwhite);
}

.navbar {
    display: flex;
    gap: 0.6rem;
    /* background-color: red; */
    flex-direction: column;
    justify-content: space-between;
}

.top-section {
    display: flex;
    background-color: var(--color-main-orange);
    padding-block: 0.9rem;
    justify-content: center;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    background-color: var(--color-black);
    color: var(--color-gray-text);
    padding-block: 0.9rem;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-links li {
    display: flex;
    align-items: center;
}

.nav-shopping-cart{
    stroke: var(--color-gray-text);
    transform: translateY(0.01rem);
}
.nav-shopping-cart:hover {
    stroke: var(--color-offwhite);
}

header {
    display: flex;
    /* height: calc(100vh - 110px); */
    height: 830px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

.header-typografy {
    margin-top: 10rem;
}

.visual-element {
    display: flex;
    width: 127.2rem;
    padding-bottom: 1.5rem;
    justify-content: center;
    gap: 3rem;
}
.visual-element div {
    --border-radius: 5.5rem;
    display: inline-block;
    position: relative;
    width: 25.7rem;
    height: 27.5rem;
    background: var(--color-main-gradient);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.visual-element div img {
    position: absolute;
    bottom: 0;
}

.rect2 img {
    width: 22rem;
}
.rect3 img {
    right: 0;
    width: 26.5rem;
}

.collection-section {
    margin-top: 7rem;
}

.collection-section h1 {
    text-align: center;
    margin-bottom: 7rem;
}

.card {
    --font-size: 4rem;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    background-color: red;
}
.text-elements {
    display: table;

}
.glasses-name {
    display: table-cell;
    font-size: var(--font-size);
    text-align: left;
}
.glasses-price {
    display: table-cell;
    font-size: var(--font-size);
    font-weight: var(--fw-light);
    text-align: right;
}
.glasses-image {
    /* width: 30rem; */
}